p-button.p-button-sm1 {
    font-size: 1.0rem;
    padding: 0.4375rem 0.65625rem;
}
.p-time-colour {
    color: #1b1b1c;
    background: #ffc107;
    border: 1px solid #ffc107;

}
.tooltip {
    position: fixed;
    background-color: red;
    border-radius: 4px;
    color: #ffffff;
    font-family: Arial;
    padding: 3px 6px;
    font-size: 13px;
    margin-top: 5px;
    transform:translateX(-50%);
}


.mat-divider.mat-divider-horizontal { border-top-width: 4px; &.divider-1 { border-color: purple; }; &.divider-2 { border-radius: 4px; border-color: green; } }
